// GENERAL\\
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ff0e6a;
$red: #dc3545;
$white: white;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$grey: #869099;
$black: #000000;

// MAIN COLOR \\

// primary: green; secondary: grey;  info: blue; warning: orange; danger: red; light: white; dark: black;


$primary-300: #c92370;
$primary-400: #ff0077;
$primary-500: #ff0e6a;
$primary-600: #ff1e5a;


$secondary-50: #F2F5F6;
$secondary-100: #E6EBEC;
$secondary-200: #BFCDD0;
$secondary-300: #99AEB4;
$secondary-400: #4D727B;
$secondary-500: #003543;
$secondary-600: #00303C;
$secondary-700: #002028;
$secondary-800: #00181E;
$secondary-900: #001014;


$font-family: "Poppins", sans-serif;
$font-links: "Inter", sans-serif;
$default-font-size: 1em;
$default-font-weight: 400;
$default-line-height: 24px;
$mobile-font-size: 0.8em;
$mobile-line-height: 20px;
$mobile-font-weight: 400;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

// SCSS DEFINE DARK THEME \\
@mixin dark-theme {
  // THEME \\
  --bg-color: rgb(49, 43, 66);
  --contrast-color: #46415c;
  --contrast-color-after: rgb(63, 55, 87);
  --font-color: #fff;
  --font-color-dimmed: #c8cedf;
  --opposite-color: #fff;
  // COLORS \\
  --grey: #e0e0e0;
  --grey-bg: rgb(47, 47, 47);
  --grey-border: rgba(84, 84, 84, 0.25);
  --blue: #6dc9ff;
  --blue-bg: rgb(0, 72, 112, 0.2);
  --blue-border: rgba(0, 140, 216, 0.25);
  --green: #42d392;
  --green-bg: rgba(66, 184, 131, 0.2);
  --green-border: rgba(66, 184, 131, 0.25);
  --red: #f54e82;
  --red-bg: rgba(237, 60, 80, 0.2);
  --red-border: rgba(237, 60, 80, .25);
  --yellow: #fcd253;
  --yellow-bg: rgba(255, 197, 23, 0.2);
  --yellow-border: rgba(255, 197, 23, .25);
  --turquoise: #00d6b4;
  --turquoise-bg: rgba(0, 255, 255, 0.2);
  --turquoise-border: rgba(0, 209, 178, .25);
  --border-color: rgba(255, 255, 255, 0.5); // TODO: Border color on hr, h3,h4,h5,h6 etc. See general.scss.

}

@mixin light-theme {
  // THEME \\
  --bg-color: #E4E4E4;
  --contrast-color: #D4D4D4;
  --contrast-color-after: #F9F9F9;
  --font-color: #323a46;
  --font-color-dimmed: #869099;
  --opposite-color: #001e26;
  // COLORS \\
  --blue: #007bff;
  --blue-bg: rgba(0, 123, 255, 0.2);
  --blue-border: rgba(0, 123, 255, 0.25);
  --green: #28a745;
  --green-bg: rgba(40, 167, 69, 0.2);
  --green-border: rgba(40, 167, 69, 0.25);
  --red: #dc3545;
  --red-bg: rgba(220, 53, 69, 0.2);
  --red-border: rgba(220, 53, 69, 0.25);
  --yellow: #ffc107;
  --yellow-bg: rgba(255, 193, 7, 0.2);
  --yellow-border: rgba(255, 193, 7, 0.25);
  --turquoise: #00d1b2;
  --turquoise-bg: rgba(0, 209, 178, 0.2);
  --turquoise-border: rgba(0, 209, 178, 0.25);
  --border-color: rgba(0, 0, 0, 0.5);
}


@mixin default-theme {
  @include dark-theme;
}



:root {
  @include default-theme;
  --scrollbar-thumb: $primary-400;
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
}

@media (max-width: 768px) {
  :root {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;
    font-weight: $mobile-font-weight;
  }
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

.purple {
  color: $purple;
}


/*@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f8f9fa;
    --contrast-color: #e4e9f7;
    --contrast-color-after: #c8cedf;
    --bg-color: #e9eaec;
    --font-color: #242424;
    --font-color-dimmed: #000;
    --opposite-color: #000;
  }
}*/


[data-theme="dark"] {
  @include dark-theme();
}

[data-theme="light"] {
  @include light-theme();
}