a {
	color: $primary-400;
	opacity: 0.8;
	font-family: $font-links;
	text-decoration: none;
	transition: opacity .25s;

	&:hover {
		opacity: 1;
	}
}

.a-classic {
	color: var(--opposite-color);
	transition: color .25s;

	&:hover {
		color: $primary-400;
	}
}

blockquote {
	border-left: 4px solid $primary-300;
	padding: 0 15px;
	color: var(--font-color-dimmed);
}

blockquote> :first-child {
	margin-top: 0;
}

blockquote> :last-child {
	margin-bottom: 0;
}

code,
tt {
	font-family: $font-family;
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid var(--border-color);
	background-color: var(--contrast-color-after);
	border-radius: 3px;
}

fieldset {
	padding: 10px;
	margin: auto;
	margin-top: 3% !important;
}


/***********************************************************************/
/******************************* HEADERS *******************************/
/***********************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.25;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	position: relative;
}

h1,
h2 {
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid var(--border-color);
}

h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
	text-decoration: underline;
}

h1 {
	font-size: 2em;
}


h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}


hr {
	border: none;
	height: 1px;
	/* Set the hr color */
	color: var(--border-color);
	/* old IE */
	background-color: var(--border-color);
	/* Modern Browsers */
	margin: 1rem 0 1.5rem 0;
}

img {
	height: auto;
	max-width: 100%;
	max-height: 400px;
	width: auto;
	margin-bottom: 5px;
}


p,
blockquote,
ul,
li,
ol,
dl,
table,
pre {
	margin: 10px 0 10px 0;
}

li p.first {
	display: inline-block;
}

pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	background: transparent;
}

pre code,
pre tt {
	background-color: transparent;
	border: none;
}


pre {
	background-color: var(--contrast-color-after);
	border: 1px solid black;
	overflow: auto;
	padding: 3px 5px;
	border-radius: 3px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

/* top-left border-radius */
table tr:first-child th:first-child {
	border-top-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
	border-top-right-radius: 10px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

@media (max-width: 600px) {

	table {
		zoom: 0.9;
	}
}


td,
th {
	border: 1px solid var(--opposite-color-dimmed);
	padding: 6px;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--contrast-color-after);
}

tr {
	background-color: var(--contrast-color);
}

tr:nth-child(even) {
	background-color: var(--contrast-color-after);
}

ul,
ol {
	padding-left: 22px;
}