@import url("/boxicons/css/boxicons@2.2.1.min.css");

@import "./variables.scss";
@import "./general.scss";
@import "./view.scss";
@import "./markdown.scss";
@import "./nprogress.scss";
@import "./katex.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @include default-theme;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --scrollbar-thumb: $primary-400;
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
}



::-webkit-scrollbar {
  width: 5px;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background: $primary-300;
  border-radius: 9px;
}

.router-link-exact-active {
  color: $primary-400 !important;
}

.active {
  color: $primary-400 !important;
}


@media (max-width: 768px) {
  :root {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;
    font-weight: $mobile-font-weight;
  }
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

.purple {
  color: $purple;
}


/*@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f8f9fa;
    --contrast-color: #e4e9f7;
    --contrast-color-after: #c8cedf;
    --bg-color: #e9eaec;
    --font-color: #242424;
    --font-color-dimmed: #000;
    --opposite-color: #000;
  }
}*/


[data-theme="dark"] {
  @include dark-theme();
}

[data-theme="light"] {
  @include light-theme();
}