@import url("/boxicons/css/boxicons@2.2.1.min.css");

@import "./variables.scss";
@import "./general.scss";
@import "./view.scss";
@import "./markdown.scss";
@import "./nprogress.scss";
@import "./katex.scss";

:root {
  color: var(--font-color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background: $primary-300;
  border-radius: 9px;
}

.router-link-exact-active {
  color: $primary-400 !important;
}

.active {
  color: $primary-400 !important;
}