#Nodejs
node_modules

#Public dir
public/uploads/images/*
public/uploads/webp/*

!public/uploads/images/default
!public/uploads/webp/default

#ENV
.env
.env.development
.env.production

#Config
prod.config.ts
prod.config.js

#Build
dist