#Nodejs
node_modules

#Public dir
public/uploads/images/*
public/uploads/other*

!public/uploads/images/default
!public/uploads/images/webp/default
!public/uploads/other/default

#ENV
.env
.env.development
.env.production

#Config
prod.config.ts
prod.config.js