.mobile-only {
	display: none;
}

.menu-logo {
	width: 30px;
	margin: 0 10px 0 10px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	min-height: min-content;
	/* overflow-y: auto; */
	width: 78px;
	background: var(--bg-color-1);
	/* padding: 6px 14px 0 14px; */
	z-index: 99;
	transition: all 0.2s ease;
}

.sidebar.open {
	width: 280px;
}

.sidebar .logo-details {
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
}

.sidebar .logo-details .icon {
	opacity: 0;
	transition: all 0.2s ease;
}

.sidebar .logo-details .logo_name {
	font-size: 20px;
	font-weight: 600;
	opacity: 0;
	transition: all 0.2s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
	opacity: 1;
}

.sidebar .logo-details #btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 22px;
	transition: all 0.4s ease;
	font-size: 23px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease;
}

.sidebar.open .logo-details #btn {
	text-align: right;
}

.sidebar i {
	height: 60px;
	min-width: 50px;
	font-size: 28px;
	text-align: center;
	line-height: 60px;
}

.sidebar .nav-list {
	margin-top: 20px;
	/* margin-bottom: 60px; */
	/* height: 100%; */
	/* min-height: min-content; */
}

.sidebar .li-style {
	position: relative;
	margin: 8px 0;
	list-style: none;
}

.sidebar .li-style .tooltip {
	position: absolute;
	top: -20px;
	left: calc(100% + 15px);
	z-index: 3;
	background: var(--font-color-dimmed);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 400;
	opacity: 0;
	white-space: nowrap;
	pointer-events: none;
	transition: 0s;
}

.sidebar li:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
	top: 50%;
	transform: translateY(-50%);
}

.sidebar.open .li-style .tooltip {
	display: none;
}

.sidebar input {
	font-size: 15px;
	color: var(--font-color);
	font-weight: 400;
	outline: none;
	height: 50px;
	width: 100%;
	width: 50px;
	border: none;
	border-radius: 12px;
	transition: all 0.2s ease;
	background: var(--contrast-color);
}

.sidebar.open input {
	padding: 0 20px 0 50px;
	width: 100%;
}

.sidebar .bx-search {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 22px;
	background: var(--contrast-color);
}

.sidebar.open .bx-search:hover {
	background: var(--contrast-color);
}

.sidebar .bx-search:hover {
	background: var(--font-color);
	color: var(--bg-color-1);
}

.a-style a {
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 12px;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	background: var(--bg-color-1);
}

.a-style a:hover {
	background: var(--font-color);
}

.links_name {
	color: var(--font-color);
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
}

.sidebar.open .li-style .a-style a .links_name {
	opacity: 1;
	pointer-events: auto;
}

.a-style a:hover .links_name,
.a-style a:hover i {
	transition: all 0.2s ease;
	color: var(--bg-color-1);
}

.children {
	list-style: none;
	color: white;
	padding: 10px;
	text-align: left;
}

.sub_link {
	margin-left: 40px;
}

.sidebar .li-style i {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	border-radius: 12px;
}

.sidebar div img {
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 6px;
	margin-right: 10px;
}

.home-section {
	position: relative;
	background: var(--font-color-dimmed);
	min-height: 100vh;
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.2s ease;
	z-index: 2;
}

.sidebar.open~.home-section {
	left: 280px;
	width: calc(100% - 280px);
}

.home-section .text {
	display: inline-block;
	color: var(--bg-color-1);
	font-size: 25px;
	font-weight: 500;
	margin: 18px;
}

.my-scroll-active {
	overflow-y: auto;
}

#my-scroll {
	overflow-y: auto;
	height: calc(100% - 60px);
}

#my-scroll::-webkit-scrollbar {
	display: none;
	/* background-color: rgba(255, 255, 255, 0.2); 
    width: 10px;
    border-radius:5px  */
}

/* #my-scroll::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius:5px 
  }
  #my-scroll::-webkit-scrollbar-button:vertical:start:decrement{
    display:none;
  }
  #my-scroll::-webkit-scrollbar-button:vertical:end:increment{
    display:none;
  } */
@media (max-width: 720px) {
	.mobile-only {
		display: block;
	}
}

@media (max-width: 420px) {
	.sidebar .li-style .tooltip {
		display: none;
	}
}