/* Add space between broken lines: */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("/boxicons/css/boxicons@2.2.1.min.css");
@import url("/katex/katex.css");

:root {
	font-family: "Poppins", sans-serif;
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: 400;

	color: var(--font-color);
	background-color: var(--bg-color-2);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.normal {
	font-size: 14px;
}

.math-size {
	font-size: var(--math-size);
}

.katex-display,
.katex-display>.katex,
.katex-display>.katex>.katex-html {
	display: inline !important;
}

.katex-display {
	text-align: left !important;
}

.katex-display>.katex {
	text-align: left !important;
}


.container {
	display: inline-flex;
	vertical-align: baseline;
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}

.katex-i {
	padding-right: 2px !important;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

a {
	opacity: 0.9;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: var(--font-color);
	text-decoration: none;

	&:hover {
		opacity: 1;
		color: $pink;
		text-decoration: underline;
	}
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 9px;
}

::-webkit-scrollbar-thumb {
	background: $grey;
	border-radius: 9px;
}

/* Compensate by reducing space around display math */
.view {
	width: 60%;
	max-width: 100%;
	margin: auto;
	padding: 10px;

	@media screen and (max-width: 768px) {
		width: 100%;
	}


	.overflow {
		overflow: auto;
	}

	a {
		color: $pink;
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 10px 0 10px;
		padding: 0;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		cursor: text;
		position: relative;
	}

	h1,
	h2 {
		margin-bottom: 20px;
	}

	h3,
	h4 {
		text-decoration: underline;
	}

	h2:first-child,
	h1:first-child,
	h1:first-child+h2,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	h1:hover a.anchor,
	h2:hover a.anchor,
	h3:hover a.anchor,
	h4:hover a.anchor,
	h5:hover a.anchor,
	h6:hover a.anchor {
		text-decoration: none;
	}

	h1,
	h2 {
		border-bottom: 1px solid $grey;
	}

	h1 tt,
	h1 code {
		font-size: inherit;
	}

	h2 tt,
	h2 code {
		font-size: inherit;
	}

	h3 tt,
	h3 code {
		font-size: inherit;
	}

	h4 tt,
	h4 code {
		font-size: inherit;
	}

	h5 tt,
	h5 code {
		font-size: inherit;
	}

	h6 tt,
	h6 code {
		font-size: inherit;
	}

	h1 {
		font-size: 28px;
		color: var(--font-color);
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		padding-bottom: 7.2px;
		line-height: 1.25;
	}

	h1 {
		line-height: 1.25;
		font-weight: 600;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	h5 {
		font-size: 14px;
	}

	h6 {
		font-size: 12px;
	}

	p,
	blockquote,
	ul,
	li,
	ol,
	dl,
	table,
	pre {
		margin: 15px 0;
	}

	hr {
		color: var(--contrast-color);
		height: 2px;
		padding: 0;
	}

	body>h2:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	body>h1:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	body>h1:first-child+h2 {
		margin-top: 0;
		padding-top: 0;
	}

	body>h3:first-child,
	body>h4:first-child,
	body>h5:first-child,
	body>h6:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	a:first-child h1,
	a:first-child h2,
	a:first-child h3,
	a:first-child h4,
	a:first-child h5,
	a:first-child h6 {
		margin-top: 0;
		padding-top: 0;
	}

	h1 p,
	h2 p,
	h3 p,
	h4 p,
	h5 p,
	h6 p {
		margin-top: 0;
	}

	li p.first {
		display: inline-block;
	}

	ul,
	ol {
		padding-left: 20px;
	}

	ul :first-child,
	ol :first-child {
		margin-top: 0;
	}

	ul :last-child,
	ol :last-child {
		margin-bottom: 0;
	}

	dl {
		padding: 0;
	}

	dl dt {
		font-size: 14px;
		font-weight: bold;
		font-style: italic;
		padding: 0;
		margin: 15px 0 5px;
	}

	dl dt:first-child {
		padding: 0;
	}

	dl dt> :first-child {
		margin-top: 0;
	}

	dl dt> :last-child {
		margin-bottom: 0;
	}

	dl dd {
		margin: 0 0 15px;
		padding: 0 15px;
	}

	dl dd> :first-child {
		margin-top: 0;
	}

	dl dd> :last-child {
		margin-bottom: 0;
	}

	blockquote {
		border-left: 4px solid #dddddd;
		padding: 0 15px;
		color: #777777;
	}

	blockquote> :first-child {
		margin-top: 0;
	}

	blockquote> :last-child {
		margin-bottom: 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	span.frame {
		display: block;
		overflow: hidden;
	}

	span.frame>span {
		border: 1px solid #dddddd;
		display: block;
		float: left;
		overflow: hidden;
		margin: 13px 0 0;
		padding: 7px;
		width: auto;
	}

	span.frame span img {
		display: block;
		float: left;
	}

	span.frame span span {
		clear: both;
		color: #333333;
		display: block;
		padding: 5px 0 0;
	}

	span.align-center {
		display: block;
		overflow: hidden;
		clear: both;
	}

	span.align-center>span {
		display: block;
		overflow: hidden;
		margin: 13px auto 0;
		text-align: center;
	}

	span.align-center span img {
		margin: 0 auto;
		text-align: center;
	}

	span.align-right {
		display: block;
		overflow: hidden;
		clear: both;
	}

	span.align-right>span {
		display: block;
		overflow: hidden;
		margin: 13px 0 0;
		text-align: right;
	}

	span.align-right span img {
		margin: 0;
		text-align: right;
	}

	span.float-left {
		display: block;
		margin-right: 13px;
		overflow: hidden;
		float: left;
	}

	span.float-left span {
		margin: 13px 0 0;
	}

	span.float-right {
		display: block;
		margin-left: 13px;
		overflow: hidden;
		float: right;
	}

	span.float-right>span {
		display: block;
		overflow: hidden;
		margin: 13px auto 0;
		text-align: right;
	}

	code,
	tt {
		margin: 0 2px;
		padding: 0 5px;
		white-space: nowrap;
		border: 1px solid #eaeaea;
		background-color: var(--contrast-color-after);
		border-radius: 3px;
	}

	pre code {
		margin: 0;
		padding: 0;
		white-space: pre;
		border: none;
		background: transparent;
	}

	.highlight pre {
		background-color: var(--contrast-color-after);
		border: 1px solid black;
		font-size: 13px;
		line-height: 19px;
		overflow: auto;
		padding: 6px 10px;
		border-radius: 3px;
	}

	pre {
		background-color: var(--contrast-color-after);
		border: 1px solid black;
		overflow: auto;
		padding: 3px 5px;
		border-radius: 3px;
	}

	pre code,
	pre tt {
		background-color: transparent;
		border: none;
	}



	// TABLES

	/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


	@font-face {
		font-family: Poppins-Regular;
		src: url('../fonts/poppins/Poppins-Regular.ttf');
	}

	@font-face {
		font-family: Poppins-Bold;
		src: url('../fonts/poppins/Poppins-Bold.ttf');
	}

	/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
	* {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

	body,
	html {
		height: 100%;
		font-family: sans-serif;
	}

	/* ------------------------------------ */
	a {
		margin: 0px;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		-moz-transition: all 0.4s;
	}

	a:focus {
		outline: none !important;
	}

	a:hover {
		text-decoration: none;
	}

	/* ------------------------------------ */

	p {
		margin: 5px;
	}

	/* ------------------------------------ */
	input {
		display: block;
		outline: none;
		border: none !important;
	}

	textarea {
		display: block;
		outline: none;
	}

	textarea:focus,
	input:focus {
		border-color: transparent !important;
	}

	/* ------------------------------------ */
	button {
		outline: none !important;
		border: none;
		background: transparent;
	}

	button:hover {
		cursor: pointer;
	}

	iframe {
		border: none !important;
	}

	// TABLE START
	/*
table {
	border: 1px solid var(--contrast-color-after);
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	padding: .35em;
	border-radius: 125px;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}

table tr {
	background-color: var(--contrast-color);
	border: 1px solid var(--contrast-color-after);
}

table th,
table td {
	padding: .625em;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		display: block;
		margin-bottom: .625em;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	table td::before {

		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}
}*/
	table {
		border-collapse: collapse;
	}

	@media screen and (max-width: 768px) {
		table {
			zoom: 0.9;
		}
	}

	td,
	th {
		border: 1px solid var(--opposite-color);
		padding: 8px;
	}

	tr {
		background-color: var(--contrast-color);
	}

	tr:nth-child(even) {
		background-color: var(--contrast-color-after);
	}

	/*tr:hover {
	background-color: var(--contrast-color);
}*/

	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: var(--contrast-color-after);
	}

	// TABLE END


	// CUSTOM RULES
	img {
		margin-bottom: 5px;
		max-width: 75%;
	}

	@media screen and (max-width: 600px) {
		img {
			max-width: 100%;
		}
	}

	.m-b {
		display: inline-block;
		margin-bottom: 15px;
	}
}