.view-source {
	width: 60%;
	max-width: 100%;
	margin: auto;
	padding: 10px;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.view-large {
	width: 90%;
	max-width: 100%;
	margin: auto;
	padding: 10px;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.view {

	img {
		width: 75%;
		height: auto;
		margin-bottom: 5px;
	}

	ul,
	ol {
		padding-left: 20px;
	}

	@media screen and (max-width: 600px) {
		img {
			max-width: 100%;
		}

		table {
			border-collapse: collapse;
			zoom: 0.9;
		}
	}
}