@use "sass:color";

$blue: #007aff;
$dark-blue: color.adjust($blue, $lightness: -10%);
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ff0e6a;
$red: #d82638;
$red-dark: color.adjust($red, $lightness: -10%);
$white: white;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #009879;
$green-dark: color.adjust($green, $lightness: -10%);
$grey: #ffffffd9;
$black: #27323A;

$secondary-400: #8e8d8a;
$secondary-300: color.adjust($secondary-400, $lightness: -10%);
$secondary-500: color.adjust($secondary-400, $lightness: 10%);

@forward "./font.scss";

$external-font: 'Inter', sans-serif;
$monospace-font: monospace;

// Transitions
$transition-duration: 0.3s;


$primary-color: #6024ec;
$primary-light: color.adjust(#6024ec, $lightness: 10%);
$primary-dark: color.adjust(#6024ec, $lightness: -10%);

:root {
	--default: #3956e7;
	--default-bg: #dde1f8;
	--default-border: #dde1f8;
	--bg-color: #fff;
	--bg-contrast: #F1F6FD;
	--bg-contrast-2: #e2ebfd;
	--bg-ui: rgb(8 8 8 / 3%);
	--selection-color: #cbd4dd;
	--font-color: #3c4450;
	--font-color-dark: #3c3b3d;
	--font-color-light: #5b5967;
	--font-color-sub: #666;
	--opposite-color: #111;
	--border-color: #dfe0e5;
	--border-color-accent: #c4c6d0;
	--shadow: rgb(0 0 0 / 15%);


	// COLORS \\
	--grey: #666;
	--grey-bg: #EFEEEA;
	--blue: #007aff;
	--blue-bg: #cce0ff;
	--blue-bg-light: #f3f5fc;
	--blue-border: rgb(0 123 255 / 30%);
	--green: #009879;
	--green-bg: rgb(40 167 69 / 15%);
	--green-bg-light: rgb(40 167 69 / 5%);
	--green-border: rgb(40 167 69 / 30%);
	--red: #FF204E;
	--red-bg: rgb(220 53 69 / 15%);
	--red-bg-light: rgb(220 53 69 / 5%);
	--red-border: rgb(220 53 69 / 30%);
	--yellow: #F97300;
	--yellow-bg: rgb(255 193 7 / 15%);
	--yellow-bg-light: rgb(255 193 7 / 5%);
	--yellow-border: rgb(255 193 7 / 30%);
	--teal: #00ADB5;
	--teal-bg: rgb(23 162 184 / 20%);
	--teal-bg-light: rgb(23 162 184 / 5%);
	--teal-border: rgb(23 162 184 / 25%);
	--purple: #6024ec;
	--purple-bg: rgb(111 66 193 / 20%);
	--purple-bg-light: rgb(111 66 193 / 5%);
	--purple-border: rgb(111 66 193 / 25%);
	--pink: #ff0e6a;
	--pink-bg: rgb(255 14 106 / 20%);
	--pink-bg-light: rgb(255 14 106 / 5%);
	--pink-border: rgb(255 14 106 / 25%);
	--info-border: #2573cf;
}

.dark-mode {
	--default: #3956e7;
	--default-bg: #2b304e;
	--default-border: #8e5fff1f;
	--bg-color: #1c2127;
	--bg-contrast: #2a2f35;
	--bg-contrast-2: #363a42;
	--bg-ui: rgb(255 255 255 / 5%);
	--selection-color: #444850;
	--font-color: #ccc;
	--font-color-dark: #ccc;
	--font-color-light: rgb(179 179 179);
	--font-color-sub: #888;
	--border-color: rgb(255 255 255 / 10%);
	--opposite-color: #eee;
	--shadow: rgb(0 0 0 / 100%);

	// COLORS \\
	--grey: #bbb;
	--grey-bg: #2c2c2c;
	--blue: #339CFF;
	--blue-bg: rgb(51 156 255 / 12%);
	--blue-border: rgb(51 156 255 / 25%);
	--green: #00c19a;
	--green-bg: rgb(0 193 154 / 12%);
	--green-border: rgb(0 193 154 / 25%);
	--red: #ff4c5b;
	--red-bg: rgb(255 76 91 / 12%);
	--red-border: rgb(255 76 91 / 25%);
	--yellow: #ffae00;
	--yellow-bg: rgb(255 174 0 / 12%);
	--yellow-border: rgb(255 174 0 / 25%);
	--purple: #8e5fff;
	--purple-bg: rgb(142 95 255 / 12%);
	--purple-border: rgb(142 95 255 / 25%);
	--teal: #1cd4d4;
	--teal-bg: rgb(28 212 212 / 12%);
	--teal-border: rgb(28 212 212 / 25%);
	--pink: #ff4da6;
	--pink-bg: rgb(255 77 166 / 12%);
	--pink-border: rgb(255 77 166 / 25%);

}

@media print {

	// THEME \\
	:root {
		--bg-color: #fff;
		--bg-contrast: #F1F6FD;
		--bg-contrast-2: #ECF2FF;
		--selection-color: #e1f2ff;
		--font-color: #1f2937;
		--font-color-dark: #374151;
		--font-color-light: #6b7280;
		--border-color: rgb(0 0 0 / 10%);
		// COLORS \\
		--grey: #666;
		--grey-bg: rgb(240 240 240);
		--blue: #007aff;
		--blue-bg: #cce0ff;
		--blue-border: rgb(0 123 255 / 30%);
		--green: #009879;
		--green-bg: rgb(40 167 69 / 15%);
		--green-border: rgb(40 167 69 / 30%);
		--red: #FF204E;
		--red-bg: rgb(220 53 69 / 15%);
		--red-border: rgb(220 53 69 / 30%);
		--yellow: #F97300;
		--yellow-bg: rgb(255 193 7 / 15%);
		--yellow-border: rgb(255 193 7 / 30%);
		--teal: #00ADB5;
		--teal-bg: rgb(23 162 184 / 20%);
		--teal-border: rgb(23 162 184 / 25%);
	}
}