pre {
	display: inline-block;
	width: 100%;
	margin: 12px 0;
	border-radius: 8px;
	background: #292d3e;
	word-break: break-all;
}

/* Inline code */
code {
	margin: 2px;
	padding: 3px 6px;
	border-radius: 5px;
	color: var(--font-color);
	background: rgb(255 255 255 / 6%);
}

/* Block code */
pre code.hljs {
	display: block;
	padding: 1em;
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	color: #abb2bf;
	background: #292d3e;
	overflow-x: auto;
}

/* Base */
.hljs {
	color: #abb2bf;
}

/* Comments / punctuation */
.hljs-comment,
.hljs-quote {
	color: #676e95;
	font-style: italic;
}

.hljs-tag,
.hljs-punctuation {
	color: #abb2bf;
}

/* Keywords & core language */
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name {
	color: #89ddff;
}

/* Class / ID selectors */
.hljs-selector-class,
.hljs-selector-id,
.hljs-type {
	color: #56b6c2;

	/* turquoise élégant */
}

/* Literals & builtins */
.hljs-literal,
.hljs-built_in {
	color: #56b6c2;
}

/* Attributes */
.hljs-attribute,
.hljs-attr {
	color: #f07178;
}

/* Numbers */
.hljs-number {
	color: #d19a66;
}

/* Strings */
.hljs-string,
.hljs-meta .hljs-string {
	color: #c3e88d;
}

/* Functions */
.hljs-title.function_ {
	color: #61afef;
}

/* Classes */
.hljs-title.class_ {
	color: #82aaff;
}

/* Variables */
.hljs-variable {
	color: #e06c75;
}

/* RegExp / operators / misc */
.hljs-regexp,
.hljs-operator,
.hljs-symbol,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
	color: #d19a66;
}

/* Sections / Titles */
.hljs-section,
.hljs-title {
	font-weight: 600;
	color: #61afef;
}

/* Diff additions/deletions */
.hljs-addition {
	color: #98c379;
}

.hljs-deletion {
	color: #e06c75;
}

.hljs-bullet,
.hljs-code {
	color: #98c379;
}

/* Meta */
.hljs-meta {
	color: #61afef;
}

/* Emphasis / Strong */
.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: 700;
}