.modal {
	.footer {
		margin: 6px 0;
		padding: 6px 0 0 0;
		border-top: 1px solid var(--border-color);
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.card-component {
	display: block;
	margin: 12px 6px;
	gap: 16px;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0 2px 6px var(--shadow);
	border: 1px solid var(--border-color);

	header {
		h1 {
			font-size: 20px;
			padding: 6px 4px;
			margin: 10px 0;
		}

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		border-bottom: 1px solid var(--border-color);
	}
}

tag {
	padding: 2px 4px;
	border-radius: 6px;
	margin: 1px 2px 1px 0;
	font-size: 0.8em;
}

.columns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}