.katex-container {
	display: inline-flex;
	max-width: 100%;
	padding: 2.5px;
	//overflow: hidden;
	overflow: auto hidden;

	i {
		max-width: 100%;
	}
}

.katex-display {
	margin: 0 !important;
	//text-align: left;
}

@media screen and (width >=1000px) {
	.katex-display>.katex {
		text-align: left !important;
		white-space: wrap !important;
	}
}

.katex {
	.text {
		font-family: Poppins;
		font-size: 16px;
	}
}