@font-face {
	font-family: 'LMRoman10';
	font-weight: 400;
	font-style: normal;
	src: local('LMRoman10'), url('/fonts/lmroman10-regular.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanCaps10';
	font-weight: 400;
	font-style: normal;
	src: local('LMRomanCaps10'), url('/fonts/lmromancaps10-regular.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanDunh10';
	font-weight: 400;
	font-style: normal;
	src: local('LMRomanDunh10'), url('/fonts/lmromandunh10-regular.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanSlant10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRomanSlant10'), url('/fonts/lmromanslant10-regular.woff') format('woff');
}

@font-face {
	font-family: 'LMRoman10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRoman10'), url('/fonts/lmroman10-italic.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanCaps10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRomanCaps10'), url('/fonts/lmromancaps10-oblique.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanDunh10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRomanDunh10'), url('/fonts/lmromandunh10-oblique.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanDemi10';
	font-weight: 600;
	font-style: normal;
	src: local('LMRomanDemi10'), url('/fonts/lmromandemi10-regular.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanDemi10';
	font-weight: 600;
	font-style: italic;
	src: local('LMRomanDemi10'), url('/fonts/lmromandemi10-oblique.woff') format('woff');
}

@font-face {
	font-family: 'LMRoman10';
	font-weight: 700;
	font-style: normal;
	src: local('LMRoman10'), url('/fonts/lmroman10-bold.woff') format('woff');
}

@font-face {
	font-family: 'LMRoman10';
	font-weight: 700;
	font-style: italic;
	src: local('LMRoman10'), url('/fonts/lmroman10-bolditalic.woff') format('woff');
}

@font-face {
	font-family: 'LMRomanSlant10';
	font-weight: 700;
	font-style: italic;
	src: local('LMRomanSlant10'), url('/fonts/lmromanslant10-bold.woff') format('woff');
}