@font-face {
	font-family: 'LMRoman10';
	font-weight: 400;
	font-style: normal;
	src: local('LMRoman10'), url('~/assets/fonts/lmroman10-regular.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanCaps10';
	font-weight: 400;
	font-style: normal;
	src: local('LMRomanCaps10'), url('~/assets/fonts/lmromancaps10-regular.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanDunh10';
	font-weight: 400;
	font-style: normal;
	src: local('LMRomanDunh10'), url('~/assets/fonts/lmromandunh10-regular.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanSlant10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRomanSlant10'), url('~/assets/fonts/lmromanslant10-regular.otf') format('otf');
}

@font-face {
	font-family: 'LMRoman10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRoman10'), url('~/assets/fonts/lmroman10-italic.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanCaps10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRomanCaps10'), url('~/assets/fonts/lmromancaps10-oblique.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanDunh10';
	font-weight: 400;
	font-style: italic;
	src: local('LMRomanDunh10'), url('~/assets/fonts/lmromandunh10-oblique.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanDemi10';
	font-weight: 600;
	font-style: normal;
	src: local('LMRomanDemi10'), url('~/assets/fonts/lmromandemi10-regular.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanDemi10';
	font-weight: 600;
	font-style: italic;
	src: local('LMRomanDemi10'), url('~/assets/fonts/lmromandemi10-oblique.otf') format('otf');
}

@font-face {
	font-family: 'LMRoman10';
	font-weight: 700;
	font-style: normal;
	src: local('LMRoman10'), url('~/assets/fonts/lmroman10-bold.otf') format('otf');
}

@font-face {
	font-family: 'LMRoman10';
	font-weight: 700;
	font-style: italic;
	src: local('LMRoman10'), url('~/assets/fonts/lmroman10-bolditalic.otf') format('otf');
}

@font-face {
	font-family: 'LMRomanSlant10';
	font-weight: 700;
	font-style: italic;
	src: local('LMRomanSlant10'), url('~/assets/fonts/lmromanslant10-bold.otf') format('otf');
}