@font-face {
	font-family: 'LMRoman10';
	src: url('~/assets/fonts/LMRoman10-Regular.eot');
	src: local('LMRoman10-Regular'),
		url('~/assets/fonts/LMRoman10-Regular.eot?#iefix') format('embedded-opentype'),
		url('~/assets/fonts/LMRoman10-Regular.woff2') format('woff2'),
		url('~/assets/fonts/LMRoman10-Regular.woff') format('woff'),
		url('~/assets/fonts/LMRoman10-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LMRoman10';
	src: url('~/assets/fonts/LMRoman10-Italic.eot');
	src: local('LMRoman10-Italic'),
		url('~/assets/fonts/LMRoman10-Italic.eot?#iefix') format('embedded-opentype'),
		url('~/assets/fonts/LMRoman10-Italic.woff2') format('woff2'),
		url('~/assets/fonts/LMRoman10-Italic.woff') format('woff'),
		url('~/assets/fonts/LMRoman10-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'LMRoman10';
	src: url('~/assets/fonts/LMRoman10-BoldItalic.eot');
	src: local('LMRoman10-BoldItalic'),
		url('~/assets/fonts/LMRoman10-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('~/assets/fonts/LMRoman10-BoldItalic.woff2') format('woff2'),
		url('~/assets/fonts/LMRoman10-BoldItalic.woff') format('woff'),
		url('~/assets/fonts/LMRoman10-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'LMRoman10';
	src: url('~/assets/fonts/LMRoman10-Bold.eot');
	src: local('LMRoman10-Bold'),
		url('~/assets/fonts/LMRoman10-Bold.eot?#iefix') format('embedded-opentype'),
		url('~/assets/fonts/LMRoman10-Bold.woff2') format('woff2'),
		url('~/assets/fonts/LMRoman10-Bold.woff') format('woff'),
		url('~/assets/fonts/LMRoman10-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}