@forward "./theme.scss";
@forward "./katex.scss";
@forward "./markdown.scss";
@forward "./document-theme.scss";
@forward "./code.scss";
@forward "./components.scss";
@forward "./lmroman.scss";

/* only needed once */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 2px;
	height: 98%;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--border-color);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
	display: none;
}

::selection {
	background-color: var(--selection-color);
}

.modal-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 120;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0 0 0 / 50%);
}

.modal-pos {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;

}


body {
	font-family: $external-font;
	line-height: 1.5;
	color: var(--font-color);
	background: var(--bg-color);
	transition: background-color $transition-duration;
}

body.modal-open {
	overflow: hidden;
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

:root {
	--padding: calc((100vw - 1700px) / 2);
}



@media screen and (width >=768px) {
	.card-component {
		padding: 2rem;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.form-group {
		display: flex;
		flex-direction: column;
	}
}

@media print {

	header,
	footer,
	nav,
	aside {
		display: none !important;
	}


	.markdown-container,
	.custom-block {
		border-width: 2px;
		background-color: none !important;
		break-inside: avoid;

		/** :not(.custom-block-title) {
			color: black !important;
		} */
	}

	.no-print {
		display: none !important;
	}
}

// TABLET \\
@media screen and (width <=1023px) {
	.no-tablet {
		display: none;
	}
}

// MOBILE \\
@media screen and (width <=719px) {
	.no-mobile {
		display: none !important;
	}
}