@forward "./theme.scss";
@forward "./katex.scss";
@forward "./markdown.scss";
@forward "./document-theme.scss";
@forward "./code.scss";
@forward "./components.scss";
@forward "./font.scss";
@forward "./transitions";

/* only needed once */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Custom scrollbar styles */
::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar {
	width: 4px;
	height: 98%;
	background: transparent;
}

::-webkit-scrollbar-track {
	border-radius: var(--radius-sm);
}

::-webkit-scrollbar-thumb {
	border-radius: var(--radius-sm);
	background: var(--border);

	&:hover {
		background: var(--border-strong);
	}
}

::selection {
	background-color: var(--selection-color);
}

.modal-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 120;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0 0 0 / 50%);
}

.modal-pos {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;

}

.actions-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}


body {
	font-family: $font-sans;
	line-height: 1.5;
	color: var(--text-body);
	background: var(--surface-base);
	transition: background-color $transition-base;
}

body.modal-open {
	overflow: hidden;
	touch-action: none;
	user-select: none;
}

:root {
	--padding: calc((100vw - 1700px) / 2);
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.form-group {
		display: flex;
		flex-direction: column;
	}
}

@media print {

	header,
	footer,
	nav,
	aside {
		display: none !important;
	}


	.markdown-container,
	.custom-block {
		border-width: 2px;
		background-color: none !important;
		break-inside: avoid;

		/** :not(.custom-block-title) {
			color: black !important;
		} */
	}

	.no-print {
		display: none !important;
	}
}

// TABLET \\
@media screen and (width <=1023px) {
	.no-tablet {
		display: none;
	}
}

// MOBILE \\
@media screen and (width <=719px) {
	.no-mobile {
		display: none !important;
	}
}