.markdown-container {
	padding: 10px;
	border-radius: 4px;
	background-color: var(--bg-contrast);
	margin-top: 10px;

	&:has(.blue) {
		padding: 10px;
		border-left: 4px solid var(--blue);
	}

	&:has(.red) {
		border-left: 4px solid var(--red);
	}

	&:has(.yellow) {
		border-left: 4px solid var(--yellow);
	}

	&:has(.teal) {
		background-color: var(--bg-contrast);
		border-left: 4px solid var(--teal);
	}

	.svg-icon {
		display: inline-block;
		box-sizing: border-box;
		font-size: 16px;
		color: var(--blue);
		color-scheme: dark;
		fill: var(--blue);
		margin-right: 8px;
		overflow: visible;
		overflow-wrap: break-word;
		vertical-align: text-bottom
	}

	.title {
		background-color: transparent;
	}

	.red {
		color: var(--red);

		.svg-icon {
			color: var(--red);
			fill: var(--red);
		}
	}

	.teal {
		color: var(--teal);

		.svg-icon {
			color: var(--teal);
			fill: var(--teal);
		}
	}

	.blue {
		color: var(--blue);

		.svg-icon {
			color: var(--blue);
			fill: var(--blue);
		}
	}

	.yellow {
		color: var(--yellow);

		.svg-icon {
			color: var(--yellow);
			fill: var(--yellow);
		}
	}

	p {
		margin: 0;
	}
}

.custom-block {
	padding: 10px 10px 8px;
	border: 1px solid transparent;
	border-radius: 8px;
	font-size: 14px;
	line-height: 24px;
	color: rgb(235 235 235 / 100%);
	margin-bottom: 5px;
	margin-top: 10px;

	p {
		margin: 0;
		padding: 0;
	}

	p+p {
		margin: 8px 0;
	}

	a {
		font-weight: 600;
		color: inherit;
		text-decoration: underline;
	}

	a:hover {
		opacity: 0.6;
	}
}

.custom-block-title {
	font-weight: 700;
}

.checkbox-container {
	display: flex;
	padding: 0;
	align-items: center;
	justify-content: flex-start;
}

.checkbox-container input[type="checkbox"] {
	width: unset;
	margin-right: 8px;
}

.checkbox-container span {
	vertical-align: middle;
}

.grey,
[grey] {
	border-color: var(--grey-border);
	color: var(--grey);
	background-color: var(--grey-bg);

	* {
		fill: var(--grey) !important;

		path {
			fill: var(--grey) !important;
		}
	}
}

.blue,
[blue] {
	border-color: var(--blue-border);
	color: var(--blue);
	background-color: var(--blue-bg);

	* {
		fill: var(--blue) !important;

		path {
			fill: var(--blue) !important;
		}
	}
}

.green,
[green] {
	border-color: var(--green-border);
	color: var(--green);
	background-color: var(--green-bg);

	* {
		fill: var(--green) !important;

		path {
			fill: var(--green) !important;
		}
	}
}

.teal,
[teal] {
	border-color: var(--teal-border);
	color: var(--teal);
	background-color: var(--teal-bg);

	* {
		fill: var(--teal) !important;

		path {
			fill: var(--teal) !important;
		}
	}
}

.yellow,
[yellow] {
	border-color: var(--yellow-border);
	color: var(--yellow);
	background-color: var(--yellow-bg);

	* {
		fill: var(--yellow) !important;

		path {
			fill: var(--yellow) !important;
		}
	}
}


.red,
[red] {
	border-color: var(--red-border);
	color: var(--red);
	background-color: var(--red-bg);

	* {
		fill: var(--red) !important;

		path {
			fill: var(--red) !important;
		}
	}
}

.purple,
[purple] {
	border-color: var(--purple-border);
	color: var(--purple);
	background-color: var(--purple-bg);

	* {
		fill: var(--purple) !important;

		path {
			fill: var(--purple) !important;
		}
	}
}

.pink,
[pink] {
	border-color: var(--pink-border);
	color: var(--pink);
	background-color: var(--pink-bg);

	* {
		fill: var(--pink) !important;

		path {
			fill: var(--pink) !important;
		}
	}
}

.primary {
	border-color: var(--primary-border);
	color: var(--primary);
	background-color: var(--primary-bg);

	* {
		fill: var(--primary) !important;

		path {
			fill: var(--primary) !important;
		}
	}
}


.custom-block.details {
	border-color: var(--blue-border);
	color: var(--blue);
	background-color: var(--blue-bg);

	summary {
		margin: 0 0 8px;
		font-weight: 700;
		cursor: pointer;

		&+p {
			margin: 8px 0;
		}
	}
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.columns .column {
	margin: 0 10px;
	flex: 1;
}

// *************** CODE BLOCKS **************** //
// Copy Button Styles
.code-block-wrapper {
	position: relative;
}

.code-copy-btn {
	position: absolute;
	top: 22px;
	right: 14px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;

	fill: #e3e4e6;
	cursor: pointer;
	opacity: 0;
	transition: opacity .15s ease, background-color .15s ease, border-color .15s ease;
}

.code-block-wrapper:hover .code-copy-btn {
	opacity: 1;
}

.code-copy-btn:hover {
	background: #b0aeb91a;
}

.code-copy-btn.copied {
	fill: #2ac27a;
}