@import url("/katex/katex.css");

.katex-container {
	display: inline-flex;
	line-height: 1.8em;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-right: 2px;
	vertical-align: baseline;
}

.katex {
	font-display: swap;
}

.katex-display,
.katex-display>.katex,
.katex-display>.katex>.katex-html {
	display: inline;
}