.katex-container {
	display: inline-flex;
	padding: 2.5px 1px;
}
.katex-container {
	display: inline-flex;
	max-width: 100%;
	overflow: auto hidden;
	padding: 2.5px 1px;
}

.katex-display {
	margin: 0.5em 0 !important;
	text-align: left;
}
.katex { 
	white-space: normal !important;
	text-align: left !important;
}
/* Add space between broken lines: */
.katex-display > .base { margin: 0.25em 0 }
