@import "./theme.scss";
@import "./katex.scss";
@import "./markdown.scss";
@import "./document-theme.scss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 9px;
	background: var(--bg-contrast);
}

::-webkit-scrollbar-thumb {
	background: $primary-400;
	border-radius: 9px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
	display: none;
}

::-moz-selection {
	background-color: $selection-color;
}

::selection {
	background-color: $selection-color;
}


body {
	background: var(--bg-color);
	color: var(--font-color);
	font-family: $external-font;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
}

html,
body,
#__nuxt {
	height: 100%;
}


.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

@media print {
	body * {
		visibility: hidden;
	}

	#doc,
	#doc * {
		visibility: visible;
	}

	#doc {
		position: absolute;
		left: 0;
		top: 0;
	}

	:root {
		@include print-theme;
	}

	.markdown-container,
	.custom-block {
		break-inside: avoid;
		background-color: none !important;
		border-width: 2px;

		*:not(.custom-block-title) {
			color: black !important;
		}
	}

	.no-print {
		display: none;
	}
}