@use "../abstract/static.scss" as *;

.modal {
	height: 100%;
	max-height: 715px;
	overflow-y: auto;

	.footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 8px;
		margin: 6px 0;
		padding: 6px 0 0;
		border-top: 1px solid var(--border);
	}
}

// ===========================
// BUTTONS
// ===========================


.header-title {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 18px;
	font-weight: 600;
}

.parent-icon {
	margin-right: 10px;
	padding: 6px;
	border-radius: var(--radius-sm);
}

// Mark
.bubble {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 10px;
	height: 10px;
	border: 3px solid var(--primary);
	border-radius: 50%;
	background: var(--primary-bg);
}