@use "../abstract/static.scss" as *;

.modal {
	height: 100%;
	max-height: 715px;
	overflow-y: auto;

	.footer {
		display: flex;
		margin: 6px 0;
		padding: 6px 0 0;
		align-items: center;
		border-top: 1px solid var(--border);
		gap: 8px;
		justify-content: flex-end;
	}
}

// ===========================
// BUTTONS
// ===========================


.header-title {
	display: flex;
	font-size: 18px;
	font-weight: 600;
	align-items: center;
	gap: 12px;
}

.parent-icon {
	padding: 6px;
	border-radius: var(--radius-sm);
	margin-right: 10px;
}