// GENERAL \\
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ff0e6a;
$red: #dc3545;
$white: white;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$grey: #869099;
$black: #000000;

// THEME \\
$primary-50: #F2FDF9;
$primary-100: #E6FCF3;
$primary-200: #BFF6E0;
$primary-300: #99F1CD;
$primary-400: #4DE7A8;
$primary-500: #00DC82;
$primary-600: #00C675;
$primary-700: #00844E;
$primary-800: #00633B;
$primary-900: #004227;

$secondary-50: #F2F5F6;
$secondary-100: #E6EBEC;
$secondary-200: #BFCDD0;
$secondary-300: #99AEB4;
$secondary-400: #4D727B;
$secondary-500: #003543;
$secondary-600: #00303C;
$secondary-700: #002028;
$secondary-800: #00181E;
$secondary-900: #001014;

$border-color: rgba(255, 255, 255, 0.5);
;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');

$font-family: 'Poppins', sans-serif;
$font-links: 'DM Sans', sans-serif;

:root {
  --bg-color: #001e26;
  --contrast-color: #323a46;
  --contrast-color-after: #1e2530;
  --font-color: #fff;
  --font-color-dimmed: #c8cedf;
  --opposite-color: #fff;

  --scrollbar-thumb: #255461;

  --font-size: 16px;
  --line-height: 24px;

}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

.purple {
  color: $purple;
}


/*@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f8f9fa;
    --contrast-color: #e4e9f7;
    --contrast-color-after: #c8cedf;
    --bg-color: #e9eaec;
    --font-color: #242424;
    --font-color-dimmed: #000;
    --opposite-color: #000;
  }
}*/


[data-theme="dark"] {
  --bg-color: #001e26;
  --contrast-color: #323a46;
  --contrast-color-after: #1e2530;
  --font-color: #fff;
  --font-color-dimmed: #c8cedf;
  --opposite-color: #fff;
}

[data-theme="light"] {
  --bg-color: #fff;
  --contrast-color: #e4e9f7;
  --contrast-color-after: #c8cedf;
  --font-color: #003543;
  --font-color-dimmed: #000;
  --opposite-color: #000;
}

@media (max-width: 768px) {
  :root {
    --font-size: 13px;
  }
}