@use "sass:color";

$blue: #007aff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ff0e6a;
$red: #dc3545;
$white: white;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #009879;
$grey: #ffffffd9;
$black: #27323A;

$primary-400: #334155;
$primary-300: color.adjust($primary-400, $lightness: -10%);
$primary-500: color.adjust($primary-400, $lightness: 10%);

$secondary-400: #8e8d8a;
$secondary-300: color.adjust($secondary-400, $lightness: -10%);
$secondary-500: color.adjust($secondary-400, $lightness: 10%);

@import "./font.scss";

$external-font: 'Poppins', sans-serif;
$monospace-font: monospace;

// Transitions
$transition-duration: 0.3s;

:root {

	--bg-color: #fdfcff;
	--bg-contrast: #F1F6FD;
	--bg-contrast-2: #ECF2FF;
	--selection-color: #e1f2ff;
	--font-color: #334155;
	--font-color-dark: #333;
	--font-color-light: rgb(100, 116, 139);
	--border-color: rgba(0, 0, 0, 0.1);
	// COLORS \\
	--grey: #666;
	--grey-bg: rgb(240, 240, 240);
	--blue: #007aff;
	--blue-bg: #cce0ff;
	--blue-border: rgba(0, 123, 255, 0.3);
	--green: #009879;
	--green-bg: rgba(40, 167, 69, 0.15);
	--green-border: rgba(40, 167, 69, 0.3);
	--red: #FF204E;
	--red-bg: rgba(220, 53, 69, 0.15);
	--red-border: rgba(220, 53, 69, 0.3);
	--yellow: #F97300;
	--yellow-bg: rgba(255, 193, 7, 0.15);
	--yellow-border: rgba(255, 193, 7, 0.3);
	--turquoise: #00ADB5;
	--turquoise-bg: rgba(23, 162, 184, 0.2);
	--turquoise-border: rgba(23, 162, 184, 0.25);

	--info-border: #2573cf;
}

.dark-mode {
	--bg-color: #252A34;
	--bg-contrast: #333a44;
	--bg-contrast-2: #4e545e;
	--selection-color: #4a90e2;
	--font-color: #e5e5e5;
	--font-color-dark: #ccc;
	--font-color-light: rgb(179, 179, 179);
	--border-color: rgba(255, 255, 255, 0.1);

	// COLORS \\
	--grey: #e0e0e0;
	--grey-bg: rgb(47, 47, 47);
	--blue: #47a6ff;
	--blue-bg: rgb(0, 140, 216, 0.2);
	--blue-border: rgba(0, 140, 216, 0.25);
	--green: #009879;
	--green-bg: rgba(40, 167, 69, 0.15);
	--green-border: rgba(40, 167, 69, 0.3);
	--red: #DC3545;
	--red-bg: rgba(220, 53, 69, 0.15);
	--red-border: rgba(220, 53, 69, 0.3);
	--yellow: #F97300;
	--yellow-bg: rgba(255, 197, 23, 0.2);
	--yellow-border: rgba(255, 197, 23, .25);
	--turquoise: #00d6b4;
	--turquoise-bg: rgba(0, 255, 255, 0.2);
	--turquoise-border: rgba(0, 209, 178, .25);

}

@mixin print-theme {
	// THEME \\
	--bg-color: #fff;
	--bg-contrast: #F5F5F5;
	--bg-contrast-2: #ECECEC;
	--font-color: #333333;
	// COLORS \\
	--blue: #007aff;
	--blue-bg: rgba(0, 123, 255, 0.2);
	--blue-border: rgba(0, 123, 255, 0.25);
	--green: #009879;
	--green-bg: rgba(40, 167, 69, 0.2);
	--green-border: rgba(40, 167, 69, 0.25);
	--red: #dc3545;
	--red-bg: rgba(220, 53, 69, 0.2);
	--red-border: rgba(220, 53, 69, 0.25);
	--yellow: #ffc107;
	--yellow-bg: rgba(255, 193, 7, 0.2);
	--yellow-border: rgba(255, 193, 7, 0.25);
	--turquoise: rgb(1, 177, 150);
	--turquoise-bg: rgba(1, 177, 150, 0.2);
	--turquoise-border: rgba(1, 177, 150, 0.25);
	--border-color: rgba(0, 0, 0, 0.5);
}