.katex-container {
	display: inline-flex;
	max-width: 100%;
	//overflow: hidden;
	overflow: auto hidden;
	padding: 2.5px;

	i {
		max-width: 100%;
	}
}

.katex-display {
	margin: 0 !important;
	//text-align: left;
}

@media screen and (min-width:1000px) {
	.katex-display>.katex {
		text-align: left !important;
		white-space: wrap !important;
	}
}

.katex {
	.text {
		font-family: 'Poppins';
		font-size: 16px;
	}
}