.katex-container {
	display: inline-flex;
	max-width: 100%;
	//overflow: hidden;
	overflow: auto hidden;
	padding: 2.5px;

}

.katex-display {
	margin: 0 !important;
	//text-align: left;
}
.katex-display > .katex {
  display: block;
  text-align: left;
  white-space: wrap;
}
