@forward "./theme.scss";
@forward "./katex.scss";
@forward "./markdown.scss";
@forward "./document-theme.scss";
@forward "./code.scss";

/* only needed once */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 2px;
	background: var(--bg-contrast);
}

::-webkit-scrollbar-thumb {
	background: var(--border-color);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
	display: none;
}

::-moz-selection {
	background-color: var(--selection-color);
}

::selection {
	background-color: var(--selection-color);
}

.modal-mask {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
}

body {
	background: var(--bg-color);
	color: var(--font-color);
	font-family: $external-font;
	line-height: 1.5;
}

:root {
	--padding: calc((100vw - 1700px) / 2);
}

.card-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
	.card-component {
		padding: 2rem;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.form-group {
		display: flex;
		flex-direction: column;
	}
}

@media print {
	:root {
		@include print-theme;
	}

	header,
	footer,
	nav,
	aside {
		display: none !important;
	}


	.markdown-container,
	.custom-block {
		break-inside: avoid;
		background-color: none !important;
		border-width: 2px;

		*:not(.custom-block-title) {
			color: black !important;
		}
	}

	.no-print {
		display: none !important;
	}
}