red {
	color: var(--red);
}

blue {
	color: var(--blue);
}

green {
	color: var(--green);
}

yellow {
	color: var(--yellow);
}

pink {
	color: var(--red);
}

.markdown-container {
	margin-top: 10px;
	background-color: var(--bg-contrast);
	border-radius: 4px;
	padding: 10px;

	&:has(.blue) {
		border-left: 4px solid var(--blue);
		padding: 10px;
	}

	&:has(.red) {
		border-left: 4px solid var(--red);
	}

	&:has(.yellow) {
		border-left: 4px solid var(--yellow);
	}

	&:has(.turquoise) {
		background-color: var(--bg-contrast);
		border-left: 4px solid var(--turquoise);
	}

	.svg-icon {
		box-sizing: border-box;
		color: var(--blue);
		color-scheme: dark;
		display: inline-block;
		fill: var(--blue);
		font-size: 16px;
		margin-right: 8px;
		overflow-wrap: break-word;
		overflow-x: visible;
		overflow-y: visible;
		vertical-align: text-bottom
	}

	.title {
		background-color: transparent;
	}

	.red {
		color: var(--red);

		.svg-icon {
			fill: var(--red);
			color: var(--red);
		}
	}

	.turquoise {
		color: var(--turquoise);

		.svg-icon {
			fill: var(--turquoise);
			color: var(--turquoise);
		}
	}



	.blue {
		color: var(--blue);

		.svg-icon {
			fill: var(--blue);
			color: var(--blue);
		}
	}

	.yellow {
		color: var(--yellow);

		.svg-icon {
			fill: var(--yellow);
			color: var(--yellow);
		}
	}

	p {
		margin: 0;
	}
}

.custom-block {
	border: 1px solid transparent;
	border-radius: 8px;
	margin-top: 10px;
	padding: 10px 10px 8px;
	line-height: 24px;
	font-size: 14px;
	color: rgba(235, 235, 235, 1);
}

.grey {
	border-color: var(--grey-border);
	color: var(--grey);
	background-color: var(--grey-bg);
}

.blue {
	border-color: var(--blue-border);
	color: var(--blue);
	background-color: var(--blue-bg);
}

.green {
	border-color: var(--green-border);
	color: var(--green);
	background-color: var(--green-bg);
}

.turquoise {
	border-color: var(--turquoise-border);
	color: var(--turquoise);
	background-color: var(--turquoise-bg);
}

.yellow {
	border-color: var(--yellow-border);
	color: var(--yellow);
	background-color: var(--yellow-bg);
}


.red {
	border-color: var(--red-border);
	color: var(--red);
	background-color: var(--red-bg);
}


.custom-block.details {
	border-color: var(--blue-border);
	color: var(--blue);
	background-color: var(--blue-bg);

	summary {
		cursor: pointer;
		margin: 0 0 8px;
		font-weight: 700;

		&+p {
			margin: 8px 0;
		}
	}
}

.center {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.custom-block-title {
	font-weight: 700;
}

.custom-block {
	margin-bottom: 5px;

	p {
		margin: 0px;
		padding: 0px;
	}

	p+p {
		margin: 8px 0;
	}
}

.custom-block a {
	color: inherit;
	font-weight: 600;
	text-decoration: underline;
}

.custom-block a:hover {
	opacity: 0.6;
}

.tag {
	padding: 2px 5px;
	border-radius: 6px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}