a {
	text-decoration: none;
	color: var(--font-color);
	transition: color $transition-duration;

	&:hover {
		cursor: pointer;
	}
}

blockquote {
	border-left: 4px solid $primary-400;
	padding: 0 15px;

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

button {
	padding: 8px 16px;
	border: none;
	border-radius: 6px;
	color: var(--font-color);
	cursor: pointer;
	background: transparent;
}


fieldset {
	margin: auto;
	margin-top: 3% !important;
	padding: 10px;
}

h1,
h2 {
	font-weight: 600;
	line-height: 1.2;
	padding-bottom: 10px;
	color: var(--font-color-dark)
}

h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 10px 0;
	padding-bottom: 6px;
}

h1 {
	font-size: 1.7rem;
	margin: 0;
}

h2 {
	font-size: 1.5em;
	margin: 25px 0 15px 0;
	border-bottom: 1px solid var(--border-color);
}

h3 {
	font-size: 1.25em;
	text-decoration: underline;
}

h4 {
	font-size: 1.15em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}

hr {
	background-color: var(--border-color);
	border: none;
	color: var(--border-color);
	height: 1px;
	width: 95%;
	margin: auto;
	margin: 20px 0;
}

img {
	height: auto;
	margin-bottom: 5px;
	max-height: 400px;
	max-width: 100%;
	width: auto;
}

input,
select,
textarea {
	padding: 8px 10px;
	margin: 0;
	background: var(--bg-color);
	border: 1px solid var(--border-color);
	color: var(--font-color);
	border-radius: 6px;
	transition: border-color $transition-duration, box-shadow $transition-duration;
	font-size: 1rem;

	&:focus {
		box-shadow: 0 0 5px rgba(var(--primary-color-rgb), 0.2);
	}

	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}

input {
	display: block;
	width: 100%;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

mark {
	background-color: var(--yellow);
	padding: 0 2px;
	border-radius: 5px;
}

option {
	padding: 8px 12px;
	font-family: $external-font;

	&:hover {
		box-shadow: 0 0 10px 100px #000 inset;
	}
}

p {
	margin: 12px 0;
}

select {
	font-family: $external-font;
	font-size: 15px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
}

table {
	border-collapse: collapse;
	font-size: 0.9em;
	min-width: 400px;
	overflow-x: auto;

	thead {
		border-bottom: 1px solid var(--border-color);
	}

	th,
	td {
		padding: 12px 15px;
	}

	tbody tr {
		border-top: 1px solid var(--border-color);
	}

	tbody tr:nth-of-type(even) {
		background-color: var(--bg-contrast);
	}

	@media (max-width: 600px) {
		zoom: 0.9;
		min-width: 300px;
	}
}

textarea {
	font-family: $monospace-font;
	resize: none;
}

ul,
ol {
	padding-left: 22px;
}