// Sidebar
.sidebar-content {
	margin: 0 0 0 10px;
	background: var(--bg-contrast);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
}


// Header
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin: 10px 0 15px 0;

	.btn {
		fill: var(--font-color);
		width: 30px;
		cursor: pointer;
	}

	.name {
		font-size: 1.2rem;
		font-weight: 500;
	}
}