// Variables
$sidebar-icon-size: 22px;

// Sidebar
.sidebar-content {
	margin: 0 5px 0 10px;
	background: var(--bg-contrast);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}


// Header
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin-top: 5px;

	.btn {
		fill: var(--font-color);
		width: 30px;
		cursor: pointer;
	}

	.name {
		font-size: 1.2rem;
		font-weight: 500;
	}
}

.body {
	display: flex;
	flex-direction: column;
	margin: 5px;
}