// Variables
$sidebar-icon-size: 22px;

// Sidebar
.sidebar-content {
	margin: 0 5px 0 10px;
	background: var(--bg-contrast);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}


// Header
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin-top: 5px;

	.btn {
		fill: var(--font-color);
		width: 30px;
		cursor: pointer;
		opacity: 0.9;

		&:hover {
			opacity: 1;
		}
	}

	.name {
		font-size: 1.2rem;
		font-weight: 500;
	}
}

// Body
.body {
	display: flex;
	flex-direction: column;
	margin: 5px;

	.item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 30px;
		padding: 0 2.5px;
		margin: 2.5px 0;
		border-radius: 5px;
		color: var(--font-color);
		cursor: pointer;
		transition: all $transition-duration ease;
		opacity: 0.7;
		width: 90%;

		&:hover,
		&.active {
			opacity: 1;
			background: var(--bg-contrast);
		}

		.icon {
			display: flex;
			align-items: center;

			&:deep(svg) {
				fill: var(--font-color);
				width: $sidebar-icon-size;
				height: $sidebar-icon-size - 2px;
				margin-right: 7px;

				path {
					fill: var(--font-color);
				}
			}
		}
	}

	.children {
		margin-left: 25px;
		padding-left: 5px;
	}
}